.card1-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("external/blog1-1500w.jpeg");
}
.card1-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-white);
}
.card1-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card1-root-class-name {
  background-image: url("external/blog2-200h.jpeg");
}
.card1-root-class-name1 {
  background-image: url("external/blog4-200h.jpeg");
}
.card1-root-class-name2 {
  background-image: url("external/blog1-200h.jpeg");
}
@media(max-width: 767px) {
  .card1-card {
    width: 100%;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}




@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.main-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-green80);
}
.main-page-home {
  width: 100%;
  height: 726px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-page-main {
  width: 100%;
  height: 735px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.main-page-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-page-video1 {
  height: 100%;
}
.main-page-tint {
  top: -4px;
  left: -3px;
  width: 100%;
  height: 729px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-page-navbar {
  align-items: center;
  flex-direction: column;
}
.main-page-navbar-interactive {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-page-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.main-page-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}
.main-page-text01 {
  color: #00ff00;
}
.main-page-text02 {
  color: var(--dl-color-gray-black);
}
.main-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.main-page-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-page-text03 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-text04 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-text05 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-text06 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-text07 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-burger-menu {
  display: none;
}
.main-page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.main-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.main-page-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-image1 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.main-page-text08 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}
.main-page-text09 {
  color: #00ff00;
}
.main-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-page-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-page-center {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 647px;
  display: flex;
  z-index: 100;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-page-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-page-header {
  width: 964px;
  font-size: 90px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 90px;
}
.main-page-text15 {
  color: #ffffff;
}
.main-page-text16 {
  color: #00ff00;
}
.main-page-text17 {
  color: #ffffff;
}
.main-page-caption {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 100%;
  text-align: center;
  font-family: "Karla";
  line-height: 45px;
}
.main-page-button4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding-right: 29px;
  background-color: rgb(57, 123, 83);
}
.main-page-process {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-green80);
}
.main-page-text18 {
  color: var(--dl-color-scheme-white);
  font-size: 50px;
}
.main-page-text19 {
  color: var(--dl-color-primary-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-page-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-page-container02 {
  flex: 0 0 auto;
  width: 251px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.main-page-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container03 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.main-page-icon10 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.main-page-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container04 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.main-page-text20 {
  color: var(--dl-color-scheme-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text21 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.main-page-text22 {
  color: var(--dl-color-primary-700);
}
.main-page-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-page-container05 {
  flex: 0 0 auto;
  width: 330px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.main-page-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container06 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.main-page-icon12 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.main-page-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container07 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.main-page-text24 {
  color: var(--dl-color-scheme-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text25 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.main-page-text26 {
  color: var(--dl-color-primary-700);
}
.main-page-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-page-container08 {
  flex: 0 0 auto;
  width: 320px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.main-page-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container09 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.main-page-icon14 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.main-page-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container10 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.main-page-text28 {
  color: var(--dl-color-scheme-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text29 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.main-page-text30 {
  color: var(--dl-color-primary-700);
}
.main-page-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-page-container11 {
  flex: 0 0 auto;
  width: 334px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.main-page-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container12 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.main-page-icon17 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.main-page-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.main-page-container13 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.main-page-text32 {
  color: var(--dl-color-scheme-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text33 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.main-page-text34 {
  color: var(--dl-color-primary-700);
}
.main-page-section {
  background-color: var(--dl-color-scheme-white);
}
.main-page-max-width1 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.main-page-text36 {
  font-size: 50px;
}
.main-page-text37 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.main-page-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.main-page-text38 {
  color: var(--dl-color-scheme-white);
  font-size: 2.5rem;
  text-align: center;
}
.main-page-text39 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.main-page-container14 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-page-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.main-page-content1 {
  gap: 120px;
  width: 100%;
  height: 232px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-scheme-white);
}
.main-page-main1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.main-page-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 714px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.main-page-image2 {
  height: 33px;
  object-fit: cover;
}
.main-page-caption1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-page-links2 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-page-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-link {
  color: #000000;
}
.main-page-link1 {
  color: #000000;
}
.main-page-link2 {
  color: #000000;
}
.main-page-link3 {
  color: #000000;
}
.main-page-copyright {
  color: var(--dl-color-scheme-white);
}
.main-page-container16 {
  display: contents;
}
@media(max-width: 991px) {
  .main-page-text18 {
    text-align: center;
  }
  .main-page-text19 {
    text-align: center;
  }
  .main-page-max-width1 {
    flex-direction: column;
  }
  .main-page-text39 {
    text-align: center;
  }
  .main-page-container14 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-page-content1 {
    gap: var(--dl-space-space-threeunits);
  }
  .main-page-main1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-page-branding {
    max-width: 80%;
  }
  .main-page-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .main-page-links2 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .main-page-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .main-page-desktop-menu {
    display: none;
  }
  .main-page-links {
    display: none;
  }
  .main-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-page-text11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-center {
    padding-bottom: 100px;
  }
  .main-page-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .main-page-header {
    font-size: 40px;
    line-height: 40px;
  }
  .main-page-caption {
    font-size: 16px;
    max-width: 80%;
    line-height: 24px;
  }
  .main-page-process {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-container01 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .main-page-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .main-page-container02 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .main-page-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-container04 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .main-page-text20 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text21 {
    text-align: left;
  }
  .main-page-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .main-page-container05 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .main-page-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-container07 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .main-page-text24 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text25 {
    text-align: left;
  }
  .main-page-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .main-page-container08 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .main-page-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-container10 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .main-page-text28 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text29 {
    text-align: left;
  }
  .main-page-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .main-page-container11 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .main-page-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .main-page-container13 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .main-page-text32 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text33 {
    text-align: left;
  }
  .main-page-cards-container {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-page-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-text39 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .main-page-container14 {
    grid-template-columns: 1fr 1fr;
  }
  .main-page-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .main-page-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .main-page-mobile-menu {
    padding: 16px;
  }
  .main-page-header {
    width: 478px;
  }
  .main-page-process {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-container01 {
    padding-left: 0px;
  }
  .main-page-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-text20 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .main-page-container07 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-text24 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .main-page-container10 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-text28 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .main-page-container13 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-text32 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .main-page-gallery {
    padding: var(--dl-space-space-unit);
  }
  .main-page-container14 {
    grid-template-columns: 1fr;
  }
}








.form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
  padding: 10px;
  border-radius: 8px;
  width:580%; /* Adjust the width of the form wrapper */
  max-width: 600px; /* Set a maximum width if necessary */
  height: 50%; /* Adjust the height of the form wrapper */
  max-height: 400px; /* Set a maximum height if necessary */
  overflow: auto; /* Add overflow for scrolling if content exceeds the wrapper size */

  text-align: center;
  caption-side: top;
}

.form_wrapper table {
  width: 100%; /* Make the table fill the entire width of the wrapper */
  height: 100%; /* Make the table fill the entire height of the wrapper */
}

.form_wrapper th,
.form_wrapper td {
  padding: 8px;
  text-align: left;

}

.form_wrapper th {
  background-color: #f2f2f2; /* Adjust as needed */
}

header{
  text-align :centre;
  color : #105749;
}

.form_wrapper table caption {
  text-align: center;
  caption-side: top; /* Ensure caption is positioned at the top of the table */
  padding: 10px; /* Add padding if necessary */
  color : #105749;
}

.form_wrapper td{
 border-collapse: collapse;
 border-bottom: 1px solid #105749;
}

.form_wrapper th{
 border-collapse: collapse;
 border-bottom: 1px solid black;
}



