<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShopStock</title>
    <meta property="og:title" content="ShopStock" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Titillium Web;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-scheme-green100);
        background-color: var(--dl-color-scheme-yellow20);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <script type="text/javascript"> ... </script> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/count1.css')}}" />
  </head>
  <body>
<!--    <link rel="stylesheet" href="./style.css" />-->
<link rel="stylesheet" href="{{url_for('static',filename='css/count-style.css')}}" />
    <div>
<!--      <link href="./index.css" rel="stylesheet" />-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/count.css')}}" />

      <div class="home-container">
        <div class="home-navbar navbar-container">
          <div class="max-width">
            <header data-thq="thq-navbar" class="home-navbar-interactive">
              <div class="home-logo">
                <img
                  alt="image"
                  src="static\images\group 2.svg"
                  class="home-image"
                />
                <span class="home-text">
                  <span class="home-text01">SHOP</span>
                  <span class="home-text02">STOCK</span>
                </span>
              </div>
                <div
                        data-thq="thq-navbar-nav"
                        class="main-page-desktop-menu"
                      >
                        <div class="main-page-links">
<!--                          <span class="main-page-text03 navbarLink">Home</span>-->
<!--                          <span class="main-page-text06 navbarLink"><a href="/check">Check</a></span>-->
                          <span class="main-page-text06 navbarLink"><a href="/home">Home</a></span>
                          <span class="main-page-text06 navbarLink"><a href="#discover">Process</a></span>
                          <a href="/FrontPage" class="main-page-text07 navbarLink">Features</a>
                            <a href="/webcam" class="main-page-text07 navbarLink">Live webcam</a>
<!--                          <span class="main-page-text06 navbarLink">Blog</span>-->
                          <span class="main-page-text06 navbarLink"><a href="#blog_section">Blog</a></span>
<!--                          <span class="main-page-text07 navbarLink">Users</span>-->
                          <a href="/user" class="main-page-text07 navbarLink">Users</a>
                          <a href="/login" class="button-secondary button">Login</a>
                          <a href="/register" class="button-primary1 button">Register</a>

<!--                          <button class="button-secondary button">Login</button>-->
<!--                          <button class="button-primary1 button">Register</button>-->
                        </div>
                      </div>

              <div data-thq="thq-burger-menu" class="home-burger-menu">
                <svg viewBox="0 0 1024 1024" class="home-icon">
                  <path
                    d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
            </header>
        </div>
        <div class="home-section section-container">
          <div class="home-max-width1 max-width">
            <div class="home-image2" style="position: relative;">
    <img
        alt="image"
        src="{{ url_for('video') }}"
        class="home-hero-image"
        style="display: block; width: 100%; height: auto;"
    />
    <span class="home-text08" style="position: absolute; top: 120%; left: 50%; transform: translate(-50%, -50%);">Detected Image</span>
</div>
            <div class="home-content">
              <span class="home-text09">Count Of Product</span>
               <div class="form_wrapper">
   <table>
     <tr>
       <th>Product Name</th>
       <th>Total Count</th>

       <tr>
          <td>Ariel </td>
          <td>{{ count_result['Ariel'] }}</td>
       </tr>
     <tr>
          <td>Coca Cola </td>
          <td>{{ count_result['Coca Cola'] }}</td>
       </tr>
       <tr>
          <td>Colgate</td>
          <td>{{ count_result['Colgate'] }}</td>
       </tr>
     <tr>
          <td>Fanta </td>
          <td>{{ count_result['Fanta'] }}</td>
       </tr>
     <tr>
          <td>Kurkure </td>
          <td>{{ count_result['Kurkure'] }}</td>
     </tr>
     <tr>
          <td>Lays Masala </td>
          <td>{{ count_result['Lays Masala'] }}</td>
     </tr>
     <tr>
          <td>Lays Mexican </td>
          <td>{{ count_result['Lays Mexican'] }}</td>
     </tr>
     <tr>
          <td>Lifebuoy Soap </td>
<!--          <td>{{ count_result['Lifebuoy Soap'] }}</td>-->
         <td>{{ count_result['Lifebuoy Soap'] }}</td>

     </tr>
     <tr>
          <td>Sunsilk Shampoo </td>
          <td>{{ count_result['Sunsilk Shampoo'] }}</td>
     </tr>
     <tr>
          <td>Vaseline Lotion </td>
          <td>{{ count_result['Vaseline Lotion'] }}</td>
     </tr>
   </table>
   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script defer="">
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllAccordions()
        }

        const listenForUrlChanges = () => {
          let url = location.href
          document.body.addEventListener(
            'click',
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts()
                  url = location.href
                }
              })
            },
            true
          )
        }

        const initializeAllAccordions = () => {
          const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

          allAccordions.forEach((accordion) => {
            const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
            const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

            accordionHeader.addEventListener('click', () => {
              if (accordionContent.style.maxHeight) {
                accordionContent.style.maxHeight = ''
              } else {
                accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
              }
            })
          })
        }

        listenForUrlChanges()
        runAllScripts()
      }
    </script>
    </div>
  </body>
</html>




